/*--------- TOOLS : Colors ---------*/

$bgBlack : rgba(27, 27, 27, 1);
$bgWhite : rgba(247, 247, 247, 1);

$txtWhite : rgba(247, 247, 247, 1);
$txtBlack : rgba(27, 27, 27, 1);

$logoColor : rgb(85,64,156);